.background img{
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.dangky{
    margin: 10%;
}
.thuMoi{
    z-index: 1000;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8) !important;
    box-shadow: 4px 4px 8px rgba(178, 178, 178, 0.5);
    padding: 40px;
}
.titleDK{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #0b65f0;
}
nz-date-picker{
    width: 100%;
}
@media screen and (max-width: 768px){
    .dangky{
        margin: 10%;
    }
    .thuMoi{
        padding: 20px;
    }
    .titleDK{
        font-size: 20px;
    } 
    ::ng-deep .ant-form-item{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 576px){
    .dangky{
        margin: 10%;
    }
    .thuMoi{
        padding: 10px;
    }
    .titleDK{
        font-size: 16px;
    }
    ::ng-deep .ant-form-item{
        margin-bottom: 10px;
    }
    
}
::ng-deep nz-form-label{
    font-size: 18px;
    font-weight: 700;
    color: #0b65f0;
}
::ng-deep nz-form-label > label{
    color: #0b65f0 !important;
}
.btn_Dk{
    border-radius: 8px;
    background: #0b65f0;
    font-size: 16px;
    height: auto;
}